<!DOCTYPE html>
<html>
  <head>
    <title>Movie Snob</title>
  </head>
  <body>
    
    <%# <% Movie.all.each do |movie|%>
        <h3><%= Movie.title %></h3>
        <img src="<%= @movie.poster %>">
        <p><%= @movie.genre %><p>
        <p><%= @movie.blurb %><p>
        <a href = "/posts/<%=post.id%>">go to post</a>
    <% end %> %>
  </body>
</html>