<!DOCTYPE html>
<html>
  <head>
    <title>Movie Snob</title>
  </head>
  <body>
    <a href ="/users/<%= session[:user_id] %>">Back to your Posts </a>
    <a href = "/posts" >Back to all Posts </a>
    <h2><%= @movie.title %></h2> 
    <img src="<%= @movie.poster %>">
    <p>Rated: <%= @movie.rating %><p> 
    <p>Runtime: <%= @movie.runtime %><p>
    <p>Genre: <%= @movie.genre %><p>
    <p>Plot: <%= @movie.blurb %><p>
    <p>Director: <%= @movie.director %><p>
    <% @movie.posts.each do |post|%>
        <h3><%= post.title %></h3>
        <p><%= post.comment %></p>
        <h4>-<%= post.user.username %></h4>
    <% end %>
  </body>
</html>