<!DOCTYPE html>
<html>
  <head>
    <title>Movie Snob</title>
  </head>
  <body>
    <% if logged_in? %>
      <h2>"Hello <%= @user.username %>"</h2>
        <form method="POST" action="/posts">
            <h3>Release Your Inner Snob</h3>
            <div class="form-row">  
              <div class = "form-group col-md-4">
                <label for="username">Movie title</label>
                <input type = "text" class="form-control" name = "movie" id = "movie" placeholder = "movie">
              </div>
            </div>
            <div class="form-row">  
              <div class = "form-group col-md-4">
                <label for="username">Title of your post</label>
                <input type = "text" class="form-control" name = "title" id = "post" placeholder = "title" maxlength="40">
              </div>
            </div>
            <div class="form-row">  
              <div class = "form-group col-md-4">
                <label for="username">Comment</label>
                <input type = "text" class="form-control" name = "comment" id = "comment" placeholder = "Say Something" maxlength="140">
              </div>
            </div>
            <button type = "submit" class="btn btn-primary col-md-2">Submit</button>
        </form>
        </br>
        <a href="/users/<%= @user.id %>/edit">Edit Your Profile</a>
        </br>
        <% @user.posts.all.each do |post|%>
          <h3><%= post.title %></h3>
          <p><%= post.comment%></p>
          <a href = "/posts/<%=post.id%>">go to post</a>
        <% end %>
    <% else %>
        <% redirect to '/'%>
    <% end %>
  </body>
</html>