<!DOCTYPE html>
<html>
  <head>
    <title>Movie Snob</title>
  </head>
  <body>
    <% if logged_in? && session[:user_id] == @post.user_id%>
        <h3><%= @post.title %></h3> 
        <h4><%= @post.movie.title %></h4>
        <img src="<%= @post.movie.poster %>">
        <p><%= @post.comment %><p> 
        <a href ="/movies/<%= @post.movie_id %>">more about the film</a>
        <form method="POST" action="/posts/<%= @post.id %>">
            <input id = "hidden" type = "hidden" name = "_method" value = patch>
            <h3>edit your post</h3>
            <div class="form-row">  
              <div class = "form-group col-md-4">
                <label for="username">Title of your post</label>
                <input type = "text" class="form-control" name = "title" id = "post" placeholder = "title" maxlength="40">
              </div>
            </div>
            <div class="form-row">  
              <div class = "form-group col-md-4">
                <label for="username">Comment</label>
                <input type = "text" class="form-control" name = "comment" id = "comment" placeholder = "Say Something" maxlength="140">
              </div>
            </div>
            <button type = "submit" class="btn btn-primary col-md-2">Submit</button>
        </form>
        <form action = "/posts/<%=@post.id%>/delete" method="POST">
            <input id = "hidden" type = "hidden" name = "_method" value = "DELETE">
            </br>
            <button type = "submit" class="btn btn-primary col-md-2">Delete Post</button>
        </form>
    <% else %>
        <% redirect to '/'%>
    <% end %>
  </body>
</html>