
<!DOCTYPE html>
<html>
  <head>
    <title>Movie Snob</title>
  </head>
  <body>
    <h1>Post index page.</h1>
    <% if logged_in? %>
      <h2><%="Hello #{@user.username}"%></h2>
        <form method="POST" action="/posts">
            <h3>Release Your Inner Snob</h3>
            <div class="form-row">  
              <div class = "form-group col-md-4">
                <label for="username">Movie title</label>
                <input type = "text" class="form-control" name = "movie" id = "movie" placeholder = "movie">
              </div>
            </div>
            <div class="form-row">  
              <div class = "form-group col-md-4">
                <label for="username">Title of your post</label>
                <input type = "text" class="form-control" name = "title" id = "post" placeholder = "title" maxlength="40">
              </div>
            </div>
            <div class="form-row">  
              <div class = "form-group col-md-4">
                <label for="username">Comment</label>
                <input type = "text" class="form-control" name = "comment" id = "comment" placeholder = "Say Something" maxlength="140">
              </div>
            </div>
            <button type = "submit" class="btn btn-primary col-md-2">Submit</button>
        </form>

        <div class="card-columns">
        <% Post.all.each do |post|%>
          <div class="card">
            <img class="card-img-top" src="<%= post.movie.poster %>" alt="post.movie.blurb">
            <div class="card-body">
              <a href = "/posts/<%=post.id%>"><h5 class="card-title"><%= post.title %></h3></a>
              <p class="card-text"><%= post.comment %></p>
              <p class="card-text"><small class="text-muted"><%= post.user.username%></small></p>
              <% if session[:user_id] == post.user.id %>
                <a href = "/posts/<%=post.id%>/edit"><p class="card-text">edit your post</p></a>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>


    <% else %>
        <% redirect to '/'%>
    <% end %>
  </body>
</html>