<h1>Post show route</h1>
<!DOCTYPE html>
<html>
  <head>
    <title>Movie Snob</title>
  </head>
  <body>
    <% if logged_in? %>
        <h3><%= @post.title %></h3> 
        <h4><%= @post.movie.title %></h4>
        <img src="<%= @post.movie.poster %>">
        <p><%= @post.comment %><p> 
        <a href ="/movies/<%= @post.movie_id %>">more about the film</a>
        <% if @post.user_id == session[:user_id]%>
          <a href = "/posts/<%= @post.id %>/edit">edit this post</a>
        <%end%>
        <a href ="/posts">back to posts</a>
    <% else %>
        <% redirect to '/'%>
    <% end %>
  </body>
</html>